.image{
    width: 100%;
}


#a {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 22%;
}

#b {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 22%;
}

#c {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 25%;
}

#d {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 27%;
}

#e {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 20%;
}

#f {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 25%;
}

#g {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 27%;
}

#h {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 24%;
}

#i {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 19%;
}

#j {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 19%;
}

#k {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 26%;
}

#l {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 32%;
}

#CharacterIcons {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
}

#CharacterSprites {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
}